OrderProcessing.Tests/Service References/OrderQueryServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" />
  <xs:element name="All">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" minOccurs="0" name="AllResult" nillable="true" type="q1:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Count">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="First">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" minOccurs="0" name="FirstResult" nillable="true" type="q2:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Where">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serializedExpression" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" minOccurs="0" name="WhereResult" nillable="true" type="q3:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhereAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serializedExpression" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhereAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" minOccurs="0" name="WhereAllResult" nillable="true" type="q4:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>