OrderProcessing/Service References/OrderQueryServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="OrderQueryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="OrderQueryServiceEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderQueryService_All_InputMessage">
    <wsdl:part name="parameters" element="tns:All" />
  </wsdl:message>
  <wsdl:message name="IOrderQueryService_All_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderQueryService_Count_InputMessage">
    <wsdl:part name="parameters" element="tns:Count" />
  </wsdl:message>
  <wsdl:message name="IOrderQueryService_Count_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderQueryService_First_InputMessage">
    <wsdl:part name="parameters" element="tns:First" />
  </wsdl:message>
  <wsdl:message name="IOrderQueryService_First_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirstResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderQueryService">
    <wsdl:operation name="All">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryServiceBaseOf_Order/All" message="tns:IOrderQueryService_All_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryServiceBaseOf_Order/AllResponse" message="tns:IOrderQueryService_All_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Count">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryServiceBaseOf_Order/Count" message="tns:IOrderQueryService_Count_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryServiceBaseOf_Order/CountResponse" message="tns:IOrderQueryService_Count_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="First">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryServiceBaseOf_Order/First" message="tns:IOrderQueryService_First_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryServiceBaseOf_Order/FirstResponse" message="tns:IOrderQueryService_First_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderQueryServiceEndPoint" type="tns:IOrderQueryService">
    <wsp:PolicyReference URI="#OrderQueryServiceEndPoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="All">
      <soap12:operation soapAction="http://tempuri.org/IQueryServiceBaseOf_Order/All" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Count">
      <soap12:operation soapAction="http://tempuri.org/IQueryServiceBaseOf_Order/Count" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="First">
      <soap12:operation soapAction="http://tempuri.org/IQueryServiceBaseOf_Order/First" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderQueryService">
    <wsdl:port name="OrderQueryServiceEndPoint" binding="tns:OrderQueryServiceEndPoint">
      <soap12:address location="net.tcp://localhost:8732/OrderService/OrderQueryService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8732/OrderService/OrderQueryService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ilias.shaikh@tradar.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>