OrderProcessing/Service References/OrderStatusService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" />
  <xs:element name="GetAllOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" minOccurs="0" name="GetAllOrdersResult" nillable="true" type="q1:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>