OrderProcessing/Service References/ServiceReference1/OrderProcessingDomain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CustomFields" nillable="true" type="q1:ArrayOfKeyValueOfanyTypeanyType" />
      <xs:element minOccurs="0" name="Freight" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RequiredDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShipAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipPostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Shipvia" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
</xs:schema>