OrderProcessing/Service References/CommandServiceReference/OrderProcessingDomain.Command.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrderProcessingDomain.Command" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrderProcessingDomain.Command" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" />
  <xs:complexType name="AddOrderCommand">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" minOccurs="0" name="_order" nillable="true" type="q1:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddOrderCommand" nillable="true" type="tns:AddOrderCommand" />
  <xs:complexType name="UpdateOrderCommand">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" minOccurs="0" name="_order" nillable="true" type="q2:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateOrderCommand" nillable="true" type="tns:UpdateOrderCommand" />
  <xs:complexType name="RemoveOrderCommand">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" minOccurs="0" name="_order" nillable="true" type="q3:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveOrderCommand" nillable="true" type="tns:RemoveOrderCommand" />
</xs:schema>