OrderProcessing/Service References/CommandServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="CommandService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="commandServiceEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/OrderProcessingDomain.Command" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/OrderProcessingDomain" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommandService_ExecuteCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteCommand" />
  </wsdl:message>
  <wsdl:message name="ICommandService_ExecuteCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteCommandResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_Undo_InputMessage">
    <wsdl:part name="parameters" element="tns:Undo" />
  </wsdl:message>
  <wsdl:message name="ICommandService_Undo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UndoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommandService">
    <wsdl:operation name="ExecuteCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/ExecuteCommand" message="tns:ICommandService_ExecuteCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/ExecuteCommandResponse" message="tns:ICommandService_ExecuteCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Undo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/Undo" message="tns:ICommandService_Undo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/UndoResponse" message="tns:ICommandService_Undo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="commandServiceEndPoint" type="tns:ICommandService">
    <wsp:PolicyReference URI="#commandServiceEndPoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ExecuteCommand">
      <soap12:operation soapAction="http://tempuri.org/ICommandService/ExecuteCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Undo">
      <soap12:operation soapAction="http://tempuri.org/ICommandService/Undo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommandService">
    <wsdl:port name="commandServiceEndPoint" binding="tns:commandServiceEndPoint">
      <soap12:address location="net.tcp://localhost:8732/OrderService/CommandService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8732/OrderService/CommandService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ilias.shaikh@tradar.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>